<footer>
  <div id="templatemo_buttom_section">
    <div class="templatemo_container">
      <div class="templatemo_bottom_panel">
        <div class="templatemo_3_col bottom_left">
          <h2>privacy policy</h2>
          <p>user@semanticbits.com</p>

          <div id="templatemo_footer">
            <div id="templatemo_footer_top"></div>
            <div id="templatemo_footer_mid">
              Copyright &copy; 2017@Semantic Bits<br />

            </div>
            <div id="templatemo_footer_bottom"></div>

          </div>
        </div>

        <div class="templatemo_3_col bottmo_middle">



        </div>

        <div class="templatemo_3_col bottom_right">
          <div class="templatmo_newsletter">

          </div>
        </div>

        <div class="cleaner"></div>
      </div>

    </div><!-- End Of Container  -->
  </div><!-- End Of Bottom Section  -->
</footer>
