
<div id="templatemo_top_section">

  <div class="templatemo_container">
    <div id="templatemo_header">
      <div id="templatemo_menu">
      <app-search-component [categoriesToSearchComponent]='categoriesToSearchComponent' (gettingTheSelectedTypeFromSearch)="gettingTheSelectedTypeFromSearch($event)">

      </app-search-component>
      &emsp;
    </div>
    </div>
  </div>
</div>

<div id="templatemo_middle_section">
  <div class="templatemo_container">
    <div id="templatemo_content">
      <app-images-component [forSelectedCategoryProdutsArray]="forSelectedCategoryProdutsArray" (getTheClickedProduct)="getTheClickedProduct($event)">

      </app-images-component>
    </div>
  </div>
</div>
<div *ngIf="ArrayContainsCLickedProductsWithoutDuplicates.length>0">
  <app-datatable [ArrayContainsCLickedProductsWithoutDuplicates]="ArrayContainsCLickedProductsWithoutDuplicates" [FinalAmount]="FinalAmount">

  </app-datatable>
</div>
<div *ngIf="ArrayContainsCLickedProductsWithoutDuplicates.length > 0">
  <button type="button" class="btn btn-lg btn-info" (click)="goToBillingComponent()">Proceed For the Billing Process</button>
</div>
