<div>


</div>
<div id="templatemo_top_section">
  <div class="templatemo_container">
    <div id="templatemo_header">
      <div id="templatemo_menu">
      <app-search-component [categoriesToSearchComponent]='categoriesToSearchComponent' (gettingTheSelectedTypeFromSearch)="gettingTheSelectedTypeFromSearch($event)">

      </app-search-component>
    </div>
    </div>
  </div>
</div>

<div id="templatemo_middle_section">
  <div class="templatemo_container">
    <div id="templatemo_content">
      <app-images-component [forSelectedCategoryProdutsArray]="forSelectedCategoryProdutsArray" (getTheClickedProduct)="getTheClickedProduct($event)">

      </app-images-component>

    </div>
  </div>
</div>
<div *ngIf=" ArrayContainsCLickedProductsWithoutDuplicates.length > 0 ">
  <app-datatable [ArrayContainsCLickedProductsWithoutDuplicates]="ArrayContainsCLickedProductsWithoutDuplicates" [FinalAmount]="FinalAmount">

  </app-datatable>
</div>
<div *ngIf=" ArrayContainsCLickedProductsWithoutDuplicates.length > 0 ">
  <button type="button" class="btn btn-lg btn-info" (click)="goToBillingComponent()">{{ 'toBilling' | translate}}</button>
</div>
<popup #popup1 (confirmClick)="getUser()" (cancelClick)="Reloading()" >

  <div class="form-group row" >
    <!--<form [formGroup]="Myform">-->
    <label class="col-md-4">User Name </label>
    <input class="form-control col-md-4" type="text"  [(ngModel)]="name" name="name" placeholder="Enter your Name here.." >
    <!--formControlName="Usname"-->
      <!--<p *ngIf="form.controls.password.errors?.required">required error</p>-->
    <!--</form>-->
  </div>

</popup>


