<h1>Products Added to Cart in Table Format</h1>
<table class="table table-striped" [mfData]="ArrayContainsCLickedProductsWithoutDuplicates" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
  <tr>
    <th style="width: 25%">
      <mfDefaultSorter by="Item_Name">Item Name</mfDefaultSorter>
    </th>
    <th style="width: 25%">
      <mfDefaultSorter by="Quantity">Quantity</mfDefaultSorter>
    </th>
    <th style="width: 25%" type="number">
      <mfDefaultSorter by="Amount">Amount</mfDefaultSorter>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr bgcolor="#fffaf0" *ngFor="let item of ArrayContainsCLickedProductsWithoutDuplicates">
    <td (loadeddata) = "fortotAmount(item)">{{item.id}}</td>
    <td name='quantity'>
      <select [(ngModel)]="item.quantity" (click)="forFindingTotalAmount()">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
      </select>
    </td>
    <td>{{(item.quantity*item.price)}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      <mfBootstrapPaginator [rowsOnPageSet]="[5]"></mfBootstrapPaginator>
    </td>
  </tr>
  <tr bgcolor="#f0e68c">
    <td></td>
    <td>Total Amount</td>
    <td>{{FinalAmount}}</td>
  </tr>
  </tfoot>
</table>
